{% extends "base.html" %}

{% block content %}
<div class="pmaincontainer">
    <div class="ptitle">
        <h1>about me</h1>
    </div>
</div>

<div class="pcontainer">

    <div class="pdetails">
        <label for="Name">
            <p id="pname">
            <h5>personal detaits :</h5>
            </p>
        </label><br>
        <label for="Name">
            <p id="pname"><b>Name:</b><span> Dinesh Kumar</span> </p>
        </label><br>
        <label for="Name">
            <p id="pname"><b>Email:</b> Dkrath41@gmai.com</p>
        </label><br>
            <h5>Educational Details:</h5>
            </p>
        </label>
        <span><b>Graduation: </b> B. Tech in Computer science and engineering(7.9 CGPA)<br>
            <b>From : </b> Khwaja Moinuddin Chishti Urdu, Arabi-Farsi University, Lucknow
        </span><br>
        <br>


        <span><b>Diploma : </b> Diploma in Electronics engineering (76%)<br>
            <b>From : </b> Govt. Polytechnic, Mahoba<br></span><br>
            

      
    </div></div>
            

    <div class="pmaincontainer">
        <div class="ptitle">
            <h1>About this webpage</h1>
        </div>
    </div>
    <div class="pcontainer">
            <div class="pdetails">
              
                <br>
               
                <span> <b>this is a portfolio website</b><br>
                    <b>language used : </b> python , django , html , css , js and bootstrape<br>
                    <b> made by : </b>dinesh kumar<br>
                    <b>details: </b>all details are presents in the profile section<br></span><br>
                </div></div><br>

{% endblock %}

