<footer>
    <div class="card">
        <div class="card-header">
          <b>i'm available for 24x7</b>
        </div>
        <div class="card-body">
          <h5 class="card-title">if anyone wants to make any projects or website conatct me with my mail or conatct section</h5>
          <p class="card-text">if anyone have some quiry so fill the enquiry form i will reply you immidiately</p>
          <a href="/contact" class="btn-primary">contact us</a>
        </div>
      </div>
    </footer>
    <script src="/static/js/bootstrap.js"></script>
     <script src="/static/js/main.js"></script>

</body>
</html>