{% include "header.html" %}
<link rel="stylesheet" href="/static/css/nav.css" />

<div class="pmaincontainer">
    <div class="ptitle">
        <h1>My Profile</h1>
    </div>
</div>

<div class="pcontainer">

    <div class="pimg">
        <img src="/static/img/R.png" id="paimg" alt="loding">

    </div>

    <div class="pdetails">
        <label for="Name">
            <p id="pname">
            <h5>personal detaits :</h5>
            </p>
        </label><br>
        <label for="Name">
            <p id="pname"><b>Name:</b><span> Dinesh Kumar</span> </p>
        </label><br>
        <label for="Name">
            <p id="pname"><b>Email:</b> Dkrath41@gmai.com</p>
        </label><br>
        
        <label for="Name">
            <p id="pname">
            <h5>Educational Details:</h5>
            </p>
        </label><br>
        <span><b>Graduation: </b> B. Tech in Computer science and engineering(7.9 CGPA)<br>
            </span><br>


        <span><b>Diploma : </b> Diploma in Electronics engineering (76%)<br>
            </span><br>

        <span><b>Class XII : </b>(77%)<br>
           
        </span><br>

        <span><b>Class X : </b>(78%)<br>
           </span><br>



        <label for="skills">
            <p id="pskills">
            <h5>skills :</h5>
            </p>
        </label><br>
        <span><b>python : </b>better than intermediate<br>
            <b>Experience : </b> Fresher<br>
            <b>Working year : </b>since 2023<br>
            <b>projects : </b> credit card foud detetction , <br> object detection,<br>registration login pages for
            desktop app <br>
            <b>libraries : </b> numpy , pandas , metplotlib , seaboarn <br>
            <b>framework : </b> django <br>
            <b>oop: </b> know most of the concept of opps <br> </span><br>

        <span><b>html & css : </b>better than intermediate<br>
            <b>experiance : </b> fresher<br>
            <b> Working Year : </b>since 2022<br>
            <b>projects : </b>for web devlopment every project front-end i used it <br>] amazon website frontend
            clone<br></span><br>

        <span><b>java sript: </b>begginer<br>
            <b>experiance: </b>fresher<br>
            <b>working year : </b>since january 2024<br>
            <b> projects: </b>none<br>
        </span><br>

        <span><b>SQL: </b>intermediate<br>
            <b>working year : </b>1 year<br>
            <b>projects : </b>registration login page for desktop app used it with python for data fetching and
            storing<br>
        </span><br>

        <span><b>mysql: </b>intermediate<br>
            <b>working year : </b>1 year<br>
            <b>projects : </b>used data analysis<br>
        </span><br>

        <span><b>java: </b>begginer<br>
            <b>working year : </b>2.5 year<br>
            <b>projects : </b>rock pepar ceasior game code , number gassing game code<br>
            <b>oop: </b> know most of the concept of opps <br>
        </span><br>

        <span><b>c & c++: </b>begginer<br>
            <b>working year : </b>2.5 year<br>
            <b>projects : </b>none<br>
            <b>oop: </b> initially i started with c++ and know most of the concept <br>
        </span><br>

        <span><b>Android Studio: </b>intermediate<br>
            <b>working year : </b>2 year<br>
            <b>projects : </b>some uncomplte projects<br>
            <b>language uses: </b>xml , kotlin , java <br>
        </span><br>

        <span><b>blender: </b>intermediate<br>
            <b>working year : </b>5 year<br>
            <b>projects : </b>some 3d models<br>
            <b>experiance: </b>free time work <br>
        </span><br>


        <label for="projects">
            <p id="pprojects">
            <h5>Projects :</h5>
            </p>
        </label><br>
        <span><b>Project 1: </b>Object detection using OpenCV, yolo model and 
            ultralytics<br>
            <b>link : </b>dineshkumarkarn/object-detection-with-OpenCV
            and-yolo-model-also-using-NumPy-and-ultralytics-<br>
        </span><br>
            <!-- → : 
In this project I use ultralytics for train the model according to the 
pictures or object in those pictures and lebel those object after that 
we train project according to it. We use python programming it 
project github link provided here fo this project 
GitHub link→ dineshkumarkarn/object-detection-with-OpenCV
and-yolo-model-also-using-NumPy-and-ultralytics-: In this project i 
use ultralytics for trai the modelume opencv for take the video or 
chemara input using webcam, yolo model which we trained using 
utralytics for detect the model numpy for the seeds and the 
calculation in this project  -->
<span><b>Project 2: </b>credit card Froud detection using python NumPy, 
    pandas: <br>
    <b>link : </b>dineshkumarkarn/creditcard-froud-detection-using
    python-numpy-pandas:<br>
</span><br>
           
<!--         
        PROJECT 

Project2→
In this project I used a .csv file which contain all credit card this file 
download from Kagel numpy for the mathmetical calculation and 
pandas for manipulate the data. Github link in lined in here 
GitHub link→  in this project i have dataset which have 
fraudulent transaction and legitimate transaction using this dataset 
i write code to know which one is fraudulent and which one is 
legitimate  -->
<span><b>Project 3: </b>fully functional login and registration for the python 
    software: <br>
    <b>link : </b>dineshkumarkarn/fullyfunctional-login-and-new
    registration-form-for-the-app:<br></span><br>
<!-- </span><br>
Project3→ fully functional login and registration for the python 
software: 
In this project I used SQLite database for the database and pyqt5 
for the ui and for the more functionality and the basic pyhton 
coding for the verify the user it is work properly the link is attaiched 
here. 
 
Github link→  this project is fully functional all the 
function are working for new user registration and login page i also 
connect the database for user verification for legitimate user login 
the app  -->
<span><b>Project 4: </b> csv and excel file upload using Django:  <br>
    <b>link : </b> dineshkumarkarn/Dinesh-Kumar:<br></span><br>
  
<!-- Project4→ csv and excel file upload using Django: 
In this project I worked on the Django framework of the python 
And html, CSS this project is linked in here 
 
GitHub link→ upload excel files 
using Django framework  -->
<span><b>Project 5: </b>normal html CSS based landing page:  <br>
    <b>link : </b> dineshkumarkarn/landingpage.html<br></span><br>
 
<!-- Project5→ normal html CSS based landing page: 
This landing I used simple technics of html and CSS language  
The link isprovided 
 
GitHub link→ dineshkumarkarn/landingpage.html -->




    </div>
</div>

{%include "footer.html"%}