{% extends "base.html" %}

{% block content %}
<div class="pmaincontainer" >
    <div class="ptitle">
        <h1>My Skills</h1>
    </div>
</div>

<div class="pcontainer">

    <div class="pimg">
        

    </div>

    <div class="pdetails">
        


        <label for="skills">
            <p id="pskills">
            <h5>skills :</h5>
            </p>
        </label><br>
        <span><b>python : </b>better than intermediate<br>
            <b>Experience : </b> Fresher<br>
            <b>Working year : </b>since 2023<br>
            <b>projects : </b> credit card foud detetction , <br> object detection,<br>registration login pages for
            desktop app <br>
            <b>libraries : </b> numpy , pandas , metplotlib , seaboarn <br>
            <b>framework : </b> django <br>
            <b>oop: </b> know most of the concept of opps <br> </span><br>

        <span><b>html & css : </b>better than intermediate<br>
            <b>experiance : </b> fresher<br>
            <b> Working Year : </b>since 2022<br>
            <b>projects : </b>for web devlopment every project front-end i used it <br>] amazon website frontend
            clone<br></span><br>

        <span><b>java sript: </b>begginer<br>
            <b>experiance: </b>fresher<br>
            <b>working year : </b>since january 2024<br>
            <b> projects: </b>none<br>
        </span><br>

        <span><b>SQL: </b>intermediate<br>
            <b>working year : </b>1 year<br>
            <b>projects : </b>registration login page for desktop app used it with python for data fetching and
            storing<br>
        </span><br>

        <span><b>mysql: </b>intermediate<br>
            <b>working year : </b>1 year<br>
            <b>projects : </b>used data analysis<br>
        </span><br>

        <span><b>java: </b>begginer<br>
            <b>working year : </b>2.5 year<br>
            <b>projects : </b>rock pepar ceasior game code , number gassing game code<br>
            <b>oop: </b> know most of the concept of opps <br>
        </span><br>

        <span><b>c & c++: </b>begginer<br>
            <b>working year : </b>2.5 year<br>
            <b>projects : </b>none<br>
            <b>oop: </b> initially i started with c++ and know most of the concept <br>
        </span><br>

        <span><b>Android Studio: </b>intermediate<br>
            <b>working year : </b>2 year<br>
            <b>projects : </b>some uncomplte projects<br>
            <b>language uses: </b>xml , kotlin , java <br>
        </span><br>

        <span><b>blender: </b>intermediate<br>
            <b>working year : </b>5 year<br>
            <b>projects : </b>some 3d models<br>
            <b>experiance: </b>free time work <br>
        </span><br>

    </div>
</div>
{% endblock %}

